
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <a class="footer-link1" href="https://www.linkedin.com/in/md-riyazul-islam-21a959230">LinkedIn</a>
  <a class="footer-link2" href="https://twitter.com/riyaz79056901?t=-qafp1l_skQ9IV8F0vZHiQ&s=08">Twitter</a>
  <a class="footer-link3" href="https://www.instagram.com/hey_itz_riyaz/">Instagram</a>
  <p class="copyright" >© Md Riyazul Islam.</p>

</div>
</body>
</html>
