.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

a{
  margin:10px 20px;
  text-decoration: none;
}

.footer-link1:hover {
  display: inline;
  color: red;
}
.footer-link2:hover {
  display: inline;
  color: red;
}
.footer-link3:hover {
  display: inline;
  color: red;
}



.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color: #1abc9c;
  padding:50px 0 20px;
  margin-top: 50px;
}

.footer p {
	margin-top: 25px;
	font-size: 15px;
  color: #fff;
}
